/* App-wide styling */
body {
  margin: 20px;
  background-color: #0f1116;
  font-size: 1rem;
  font-style: normal;
  color: #fff;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  opacity: 1;
}

.card {
  width: 650px;
  border: 0.2rem solid #a9b5d2;
  border-radius: 0.6rem;
  padding: 0.16rem 0.5rem 0.8rem;
}

.tile {
  width: 240px;
  height: 80px;
  padding: 0.16rem 0.5rem 0.8rem;
}

.unselected {
  margin: 2px;
  border: 1px solid #a9b5d2;
  border-radius: 0.4rem;
}

.selected {
  margin: 0px;
  border: 3px solid #d1ab3a;
  border-radius: 0.4rem;
}

.disabled {
  color: #aaa;
}

.grid {
  display: grid;
  row-gap: 4px;
  column-gap: 8px;
  grid-auto-rows: min-content;
  grid-template-rows: min-content;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 8px;
}

.dim-sidebar {
  grid-template-columns: [main] 1fr [side] max-content [end];
}

.dim-skills {
  grid-template-columns: [title] min-content [title-end cost] min-content [activation] min-content [details] 1fr [end];
}

.dim-paths {
  grid-template-columns: [title] min-content [title-end activation] min-content [details] 1fr [end];
}

.dim-keywords {
  grid-template-columns: [title] min-content [title-end details] 1fr [property] min-content [end];
}

.uv-main {
  grid-column: main / side;
  grid-row: 1;
}
.uv-side {
  grid-column: side / end;
  grid-row: 1;
}

.uv-title { grid-column: title; }
.uv-cost { grid-column: cost; }
.uv-activation { grid-column: activation; }
.uv-details { grid-column: details / end; }
.uv-property { grid-column: property; }

.uv-full { grid-column: 1 / -1; width: 100%; }
.uv-after-title { grid-column: title-end / end; }
.uv-title-property { grid-column: title / property; }

.dim-training {
  grid-template-columns: [rank] max-content [expert] 1fr [adept] 1fr [endurance] 1fr [resonance] 1fr [innate] 1fr [magic] 1fr;
}
.uv-rank { grid-column: rank; }
.uv-expert { grid-column: expert; }
.uv-adept { grid-column: adept; }
.uv-endurance { grid-column: endurance; }
.uv-resonance { grid-column: resonance; }
.uv-innate { grid-column: innate; }
.uv-magic { grid-column: magic; }

.row {
  display: flex;
  flex-direction: row;
}

.indent {
  margin-left: 8px;
}

.spacer {
  margin-top: 8px;
}

.underhang {
  margin-bottom: 8px;
}

.dotted-underline {
  border-bottom: 0.2rem dotted #a9b5d2;
}

.padded {
  padding: .16rem .5rem .8rem;
}

.nowrap {
  white-space: nowrap;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 750;
  font-size: 1.25rem;
  text-decoration: underline;
}

.highlight {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.italics {
  font-style: italic;
}

.small-text {
  font-size: 0.85rem;
}

a {
  color: #ffffff;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}

a:hover {
  cursor: pointer;
  font-weight: 600;
  color: #91a4d2;
}

.hidden {
  opacity: 0;
  display: none;
}