:root {
  --main-bg-color: #0f1116;
  --main-font: #a9b5d2;
  --main-font-hover: #91a4d2;
  --main-border: #a9b5d2;
  --selected: #d1ab3a;
  --prev-selected: #6599ad;
  --errored: #d13a3a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  background-color: var( --main-bg-color );
  font-size: 1rem;
  font-style: normal;
  color: var( --main-font );
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  opacity: 1;
}

ul {
  margin: 0px;
  padding-left: 20px;
}

a {
  color: var( --main-font );
  margin-right: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}

a:hover {
  cursor: pointer;
  color: var( --main-font-hover );
}

p {
  margin: 4px 0px;
}

.input {
  width: 48px;
  font-size: 1em;
  text-align: center;
  border-radius: 0.4rem;
  margin-left: 2px;
  font-size: .9rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 8px;
}

.row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.float-anchor {
  display: inline;
  position: relative;
}

.term:hover .floating-panel {
  opacity: 1.0;
}

.term-panel {
  overflow: hidden;
  width: max-content;
  max-width: 500px;
  border: 0.1rem solid var( --main-border );
  border-radius: 0.4rem;
  background: var( --main-bg-color );
  padding: 0.3rem 0.6rem 0.6rem;
  height: min-content;
}

.floating-panel {
  opacity: 0.0;
  position: absolute;
  top: 100%;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.card {
  width: 600px;
  border: 0.2rem solid var( --main-border );
  border-radius: 0.6rem;
  padding: 0.45rem 0.6rem 0.6rem;
  height: min-content;
  break-inside: avoid;
}

.path-card {
  width: 290px;
  padding: 8px;
  overflow: hidden;
  border-radius: 0.6rem;
  border: 0.1rem solid var( --main-border );
  padding: 0.55rem 0.7rem 0.7rem;
  display: flex;
  align-items: center;
  margin: 4px 0px;
}

.thin-border {
  border-width: 0.1rem;
  padding: 0.55rem 0.7rem 0.7rem;
}

.medium-border {
  border-width: 0.2rem;
  padding: 0.4rem 0.6rem 0.6rem;
}

.thick-border {
  border-width: 0.25rem;
  padding: 0.4rem 0.55rem 0.55rem;
}

.card-no-border .card {
  border-width: 0px;
}

.card-selected .card {
  border-color: var( --selected );
}

.selected {
  border-color: var( --selected );
}

.block-columns {
  display: block;
  column-fill: balance;
  column-count: auto;
  column-width: 600px;
  column-gap: 20px;
}

.block-columns > * {
  margin-bottom: 16px;
}

.next-button {
  border: solid .2rem;
  border-radius: .4rem;
  padding: .25rem;
  font-size: 1.2rem;
  width: max-content;
  padding: .4rem .6rem;
  margin-left: auto;
}

.path-grid {
  grid-template-columns: repeat(auto-fit, 300px);
  display: grid;
  grid-auto-flow: dense;
  column-gap: 12px;
}

.path-title {
  font-size: 1.1rem;
  font-weight: 700;
  flex-shrink: 0;
}

.path-checkbox-wrapper{
  height: 30px;
  width: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-shrink: 0;
}

.path-skil-wrapper {
  padding: 8px 0px;
}

@media print {
  .print-block .card, .card-small {
    break-inside: avoid;
  }

  .title .subtitle .underline {
    break-after: avoid;
  }

  .no-print, .no-print * {
    display: none !important;
  }

  .print-break {
    page-break-after: always;
  }

  .break-before {
    break-before: always;
  }

  :root {
    --main-border: #000000;
  }
}

.fit-width {
  width: min-content;
  min-width: fit-content;
}

.box-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 150px;
}

.box {
  border: 0.1rem solid var( --main-border );
  border-radius: 0.2rem;
  width: 18px;
  height: 18px;
}

.hp-box {
  border: 0.1rem solid var( --main-border );
  border-radius: 0.2rem;
  height: 54px;
}

.tile {
  width: 160px;
  padding: 0.16rem 0.5rem 0.8rem;
}

.grid {
  display: grid;
  row-gap: 4px;
  column-gap: 8px;
  grid-auto-rows: max-content;
  grid-template-rows: max-content;
}

.table {
  border: 0.1rem solid var( --main-border );
  border-radius: 0.2rem;
  width: min-content;
  gap: 0px;
}

.table div {
  border: 0.05rem solid var( --main-border );
  padding: 0.25rem 0.5rem;
}

.dim-skills {
  grid-template-columns: [title] max-content [title-end cost] max-content [activation] max-content [details] 1fr [end];
}

.dim-keywords {
  grid-template-columns: [title] max-content [title-end details] 1fr [property] max-content [end];
}

.dim-thirds {
  grid-template-columns: max-content auto max-content;
}

.dim-triple {
  grid-template-columns: repeat( 3, max-content );
}

.dim-forths {
  grid-template-columns: repeat( 4, 1fr );
}

.uv-title { 
  grid-column: title;
}
.uv-cost { grid-column: cost; }
.uv-activation { grid-column: activation; }
.uv-details { grid-column: details / end; }
.uv-property { grid-column: property; }

.uv-full { grid-column: 1 / -1; }
.uv-after-title { grid-column: title-end / end; }
.uv-title-property { grid-column: title / property; }

.uv-title-flow { grid-column: title / divider; }
.uv-flow { grid-column: flow; }
.uv-divider { grid-column: divider; }
.uv-reserves { grid-column: reserves; }

.dim-attributes {
  grid-template-columns: [capabilites] 1fr [defenses] 1fr [resistances] 1fr [expertise] 1fr [end];
}
.uv-capabilites { grid-column: capabilites; }
.uv-defenses { grid-column: defenses; }
.uv-resistances { grid-column: resistances; }
.uv-expertise { grid-column: expertise; }
.uv-other { grid-column: defenses / end; }
.uv-rank { grid-column: rank; }

.dim-resource-chart {
  grid-template-columns: repeat(3, max-content);
  grid-template-areas:
    "flow resource drain"
    "innate anointment anointment-drain"
    "innate animalism animalism-drain"
    "innate sanguine sanguine-drain"
    "innate rage rage-drain"
    "resonance mastery mastery-drain"
    "resonance channel channel-drain"
    "resonance ki ki-drain"
    "resonance virtuoso virtuoso-drain"
    "magic minor-mana minor-mana-drain"
    "magic moderate-mana moderate-mana-drain"
    "magic major-mana major-mana-drain"
  ;
}
.uv-flow-area { grid-area: flow; }
.uv-resource-area { grid-area: resource; }
.uv-drain-area { grid-area: drain; }

.uv-innate-area { grid-area: innate; }
.uv-anointment-area { grid-area: anointment; }
.uv-anointment-drain-area { grid-area: anointment-drain; }
.uv-animalism-area { grid-area: animalism; }
.uv-animalism-drain-area { grid-area: animalism-drain; }
.uv-sanguine-area { grid-area: sanguine; }
.uv-sanguine-drain-area { grid-area: sanguine-drain; }
.uv-rage-area { grid-area: rage; }
.uv-rage-drain-area { grid-area: rage-drain; }

.uv-resonance-area { grid-area: resonance; }
.uv-mastery-area { grid-area: mastery; }
.uv-mastery-drain-area { grid-area: mastery-drain; }
.uv-channel-area { grid-area: channel; }
.uv-channel-drain-area { grid-area: channel-drain; }
.uv-ki-area { grid-area: ki; }
.uv-ki-drain-area { grid-area: ki-drain; }
.uv-virtuoso-area { grid-area: virtuoso; }
.uv-virtuoso-drain-area { grid-area: virtuoso-drain; }

.uv-magic-area { grid-area: magic; }
.uv-minor-mana-area { grid-area: minor-mana; }
.uv-minor-mana-drain-area { grid-area: minor-mana-drain; }
.uv-moderate-mana-area { grid-area: moderate-mana; }
.uv-moderate-mana-drain-area { grid-area: moderate-mana-drain; }
.uv-major-mana-area { grid-area: major-mana; }
.uv-major-mana-drain-area { grid-area: major-mana-drain; }

.dotted-underline {
  border-bottom: 0.2rem dotted var( --main-border );
}

.solid-underline {
  border-bottom: 0.1rem solid var( --main-border );
}

.sheet {
  width: 668px;
}

.dim-growth {
  grid-template-columns: [rank] min-content [rank-end title] max-content [title-end property] 1fr [end];
  gap: 0px;
}

.growth-selector {
  border-radius: .6rem;
  border: .1rem solid var( --main-border );
  margin-top: 12px;
  padding: .6rem .4rem;
}

.left-cap {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-right: 0px;
}

.mid-cap {
  border-radius: 0rem;
  border-left: 0px;
  border-right: 0px;
}

.right-cap {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-left: 0px;
}

.min-height {
  min-height: 16px;
}

.thin {
  border: 0.05rem solid var( --main-border );
  width: 0px;
  margin-bottom: 12px;
}

.horizontal-bar {
  border-bottom: 0.02rem solid var( --main-border );
  width: 100%;
  margin: 6px 0px 2px;
}

.lh {
  height: 1lh;
}

.nowrap {
  white-space: nowrap;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 750;
  font-size: 1.25rem;
  text-decoration: underline;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: underline;
  padding-inline-end: 0.5em;
}

.subheading {
  font-size: 1.0625rem;
  font-weight: 650;
  text-decoration: underline;
}

.max-content {
  width: max-content;
}

.heavier {
  font-size: 1.1rem;
  font-weight: 750;
}

.highlight {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.italics {
  font-style: italic;
}

.centered {
  text-align: center;
}

.inline div {
  display: inline;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  text-align: right;
}

.float-right {
  float: right;
}

.align-right {
  margin-left: auto;
}

.content-right {
  justify-content: right;
}

.small-text {
  font-size: 0.85rem;
}

.full { width: 100%; }

.gap { gap: 8px; }
.gap-large { gap: 16px; }
.gap-xlarge { gap: 24px; }
.gap-2xlarge { gap: 32px; }
.no-gap { gap: 0px; }

.indent { margin-left: 12px; }
.bumper { margin-right: 8px }
.spacer { margin-top: 8px; }
.underhang { margin-bottom: 8px; }



.hidden {
  opacity: 0;
  display: none;
}


.disabled {
  filter: grayscale(1) brightness(50%);
}

.errored {
  border-color: var(--errored);
  color: var(--errored);
}